html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    /* border: solid 1px red; */
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}
.header-menu a, #header-block a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    border: solid 2px black;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .3s;
}
.header-menu a:hover, #header-block a:hover {
    color: white;
    background-color: black;
}
.header-menu a:active, #header-block a:active {
    background-color: silver;
    border-color: silver;
}
.col {
    width: 50%;
}
#nav-block {
    position: fixed;
    width: 1200px;
    z-index: 2;
    background-color: white;
    top: 0;
}
#header-block {
    gap: 30px;
    margin-top: 160px;
}
#header-block h1 {
    font-size: 42px;
    font-weight: bold;
}
#header-block h2 {
    font-weight: bolder;
    color: silver;
}
#header-block a {
    margin-top: 12px;
    display: inline-block;  
}
#info-block,
#characteristic-block  {
    padding-top: 140px;
}
#info-block h4 {
    font-weight: bold;
    text-transform: uppercase;
}
#characteristic-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#characteristic-block ul li:first-child {
    color: white;
    background-color: black;
}
#characteristic-block ul li {
    display: flex;
}
#characteristic-block ul li p {
    width: 50%;
    margin: 5px 0;
}
#characteristic-block .col:last-child {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#characteristic-block img {
    position: absolute;
    left: -50%;
}
.characteristic-h4 {
   position: absolute;
   top: 70px;
}
#characteristic-block {
    position: relative;
    gap: 20px;
}
#form-block {
    padding-top: 140px;
    margin-bottom: 140px;
}
#form-block .form-inner-block {
    position: relative;
}
#form-block form {
    max-width: 420px;
}
#form-block form h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
#form-block form p {
    font-size: 13px;
    margin-bottom: 30px;
}
#form-block form .form-imput-text{
    margin: 0;
}
#form-block form input[type='text'],
#form-block form input[type='tel'] {
    border: none;
    border-bottom: solid 1px silver;
    padding: 10px 0;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}
#form-block form .form-bike {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#form-block form img {
    width: 420px;
}
#form-block .form-label-box p {
    position: absolute;
    top: 0;
    border: solid 1px red;
    border-radius: 50%;
    font-size: 24px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
#form-block .form-radio-style {
    width: 60px;
    height: 12px;
    border-radius: 10px;
    cursor: pointer;
}
#form-block .radio-silver {
    background-color: silver;
}
#form-block .radio-red {
    background-color: red;
}
#form-block .radio-white {
    background-color: white;
    border: silver solid 1px;
}
#form-block  .form-label-box {
    display: flex;
    gap: 22px;
    margin: 10px 0 20px;
}
#form-block  .form-label-box input {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
}
#form-block  .form-label-box input:checked + .form-bike {
    display: block;
}
#form-block form button {
    color: white;
    background-color: black;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 0;
    letter-spacing: 4px;
    cursor: pointer;
    transition: 0.3s;
}
#form-block form button:hover {
    background-color: red;
}
#footer {
    background-color: beige;
}
#footer .row {
    padding: 12px 0;
}
#footer .col:last-child a {
    display: block;
}
@media only screen and (max-width: 1200px) {
    #nav-block {
        width: 100%;
    }
}
@media only screen and (max-width: 740px) {
    #nav-block {
        background-color: red;
    }
}