html {
    scroll-behavior: smooth;
}
.container {
    width: 1200px;
    border: solid 1px red;
    margin: auto;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 22px;
}
.header-menu a, #header-block a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    border: solid 2px black;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .3s;
}
.header-menu a:hover, #header-block a:hover {
    color: white;
    background-color: black;
}
.header-menu a:active, #header-block a:active {
    background-color: silver;
    border-color: silver;
}
.col {
    width: 50%;
}
#nav-block {
    position: fixed;
    width: 1200px;
    z-index: 2;
    background-color: white;
}
#header-block {
    gap: 30px;
    margin-top: 160px;
}
#header-block h1 {
    font-size: 42px;
    font-weight: bold;
}
#header-block h2 {
    font-weight: bolder;
    color: silver;
}
#header-block a {
    margin-top: 12px;
    display: inline-block;  
}
#info-block,
#characteristic-block  {
    padding-top: 140px;
}
#info-block h4 {
    font-weight: bold;
    text-transform: uppercase;
}
#characteristic-block ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#characteristic-block ul li:first-child {
    color: white;
    background-color: black;
}
#characteristic-block ul li {
    display: flex;
}
#characteristic-block ul li p {
    width: 50%;
    margin: 5px 0;
}
#characteristic-block .col:last-child {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#characteristic-block img {
    position: absolute;
    left: -50%;
}
.characteristic-h4 {
   position: absolute;
   top: 70px;
}
#characteristic-block {
    position: relative;
    gap: 20px;
}